* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-color: #1e3932;
}

.Login img{
  width: 800px;
  height: 200px;
  margin-right: 20px;
}

.Login .login{
  display: flex;
}

.Login .btns .login div, .login_giftBtn{
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.Login .login_signInBtn{
  background-color: #00704A;
  margin-right: 10px;
}

.Login .login_loginBtn, .login_giftBtn{
  border: 2px solid #fff;
}

.Login .login_giftBtn{
  margin-top: 40px;
}


.Reserve{
  position: relative;
  height: 400px;
  overflow: hidden;
}

.Reserve-btn{
  position: absolute;
  left: 650px;
  top: 270px;
  border: 2px solid #b9813e;
  border-radius: 5px;
  padding: 10px 20px;
  color:#b9813e;
  transition: .5s;
}

.Reserve-btn:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #b9813e;
  color: #fff;
}

.Reserve_bg1{
  position: absolute;
  bottom: -70px;
  left: -70px;
  width: 370px;
}

.Reserve_bg2{
  position: absolute;
  right: -400px;
  bottom: -20px;
}

.Reserve_text{
  width: 500px;
  height: 115px;
  position: absolute;
  left: 400px;
  top: 100px;
}